name: Tests

on:
  pull_request:
  push:
     # trying and staging branches are for Bors config
    branches:
      - trying
      - staging
      - main

jobs:
  integration-tests:
    # Will not run if the event is a PR to bump-meilisearch-v* (so a pre-release PR)
    # Will still run for each push to bump-meilisearch-v*
    if: github.event_name != 'pull_request' || !startsWith(github.base_ref, 'bump-meilisearch-v')
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        rails-version: [5.2, 6.1]
    env:
      RAILS_VERSION: ${{ matrix.rails-version }}
    name: integration-tests (Rails ${{ matrix.rails-version }})
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.6
    - name: Install dependencies
      run: bundle install
    - name: MeiliSearch (latest) setup with Docker
      run: docker run -d -p 7700:7700 getmeili/meilisearch:latest ./meilisearch --master-key=masterKey --no-analytics=true
    - name: Run tests
      run: bundle exec rspec

  linter_check:
    name: linter-check
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.6
    - name: Install ruby dependencies
      run: bundle install --with test
    - name: Run linter
      run: bundle exec rubocop lib/ spec/
