name: Tests

on:
  pull_request:
  push:
     # trying and staging branches are for Bors config
    branches:
      - trying
      - staging
      - main

jobs:
  integration-tests:
    # Will not run if the event is a PR to bump-meilisearch-v* (so a pre-release PR)
    # Will still run for each push to bump-meilisearch-v*
    if: github.event_name != 'pull_request' || !startsWith(github.base_ref, 'bump-meilisearch-v')
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ["2.6", "2.7", "3.0", "3.1"]
        rails-version: [5.2, 6.1, 7.0]
        exclude:
          - ruby-version: "3.0"
            rails-version: 5.2
          - ruby-version: "3.1"
            rails-version: 5.2
          - ruby-version: "2.6"
            rails-version: 7.0
    env:
      RAILS_VERSION: ${{ matrix.rails-version }}
    name: integration-tests (Rails ${{ matrix.rails-version }} with Ruby ${{ matrix.ruby-version }})
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Meilisearch (latest) setup with Docker
      run: docker run -d -p 7700:7700 getmeili/meilisearch:latest ./meilisearch --master-key=masterKey --no-analytics=true
    - name: Run tests
      run: bundle exec rspec

  linter_check:
    name: linter-check
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      env:
        BUNDLE_WITH: test
      with:
        ruby-version: 2.6
        bundler-cache: true
    - name: Run linter
      run: bundle exec rubocop lib/ spec/

  smoke-test:
    name: smoke-test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        env:
          BUNDLE_WITHOUT: test
          BUNDLE_GEMFILE: ./playground/Gemfile
        with:
          ruby-version: 2.7.2
          bundler-cache: true
      - name: Meilisearch (latest) setup with Docker
        run: docker run -d -p 7700:7700 getmeili/meilisearch:latest ./meilisearch --master-key=masterKey --no-analytics=true
      - name: Run smoke tests
        working-directory: ./playground
        run: bundle exec rake db:setup meilisearch:reindex meilisearch:clear_indexes
